<h4>关于此网站</h4>
<p>此网站来源于学习Ruby和Rails时的实践，用于做一些自己有需求会用到的功能。目前看来主要会包括：</p>
<ul>
    <li>每日任务的记录，进度跟进</li>
    <li>Blog功能</li>
    <li>产品迭代需求池</li>
    <li>产品创意idea搜集</li>
</ul>
<br>
<p><h4>希望能践行两个原则：</h4></p>
<ol>
    <li>Build something before I go to sleep everday</li>
    <li>Living in the future and make what's missing</li>
</ol>
<br>
<h4>目标是在1年实践内，积累足够做自己创业项目demo的技术能力。</h4>
