<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "我的任务", root_path, class:"brand" %>
      <ul class="nav pull-right">
        <li><%= link_to "博客", "#" %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "关于", about_path %></li>
      </ul>
    </div>
  </div>
</header>