<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Ben's Schedule", root_path, class:"brand" %>
      <ul class="nav pull-right">
<!--         <li><a href="#">Schedule</a></li>
        <li class="divider-vertical"></li> -->
        <!-- <li><a href="#">About Me</a></li> -->
      </ul>
    </div>
  </div>
</header>